|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('plugin/github-auth', '''
div(tg-github-login-button)
    a.button.button-auth(href="", title="Enter with your github account")
        img(src="/plugins/github-auth/images/github-logo.png")
        span Sign in with Github
|''')]);
