|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/github_auth', '''
div(tg-github-login-button)
    a.button.button-auth(href="", title="Enter with your github account")
        img(src="images/contrib/github-logo.png")
        span Login with Github
|''')]);
